# Node modules (tidak usah di-push)
node_modules/

# Environment file (isi secret, jangan ke-push)
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build folder / cache (kalau ada)
dist/
build/
